body{
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem !important;
}
.merienda {
  font-family: 'Merienda One', cursive;
}

#img-logo {
  margin-left: 5%;
}
.logo_ico{
	width:20px;
	height:auto;
	margin:0px 15px;
}
.menu>li>a{
  margin-top: 10px;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6vw !important;
  font-weight: bold;
  z-index:900;
}

#carrusel {
  margin-top:20px;
  background-color: #000;
  min-height: 580px;
  height: 580px;
}

#portafolio {
  background-image: url(../img/fdo.jpg);
  background-size: content;
  background-position: center;
}

#contacto {
  background-image: url(../img/fdo_contacto.jpg);
  background-size: cover;
  background-position: center;
}

#nombre {
  	margin: -90px 20px 20px 20px;
    font-size:2.2vw;
}

#inicio {
  heigth: 170px;
}
#barra_nav{
	height:12vh;
  vertical-align:middle;
  padding: 5px 3vw;
}

.margen5 {
  margin-top: 5%;
}

.margen10 {
  margin-top: 10%;
}

.margen20 {
  margin-top: 20%;
}

hr {
  border-color: pink;
  height: 1px;
}
video{
  width:90%;
  max-height: 350px;
}
@media (max-width: 1300px) {
  #carrusel {
    min-height: 420px;
    height: 420px;
    margin-top:-1.2vw;
  }
  #img-logo {
  margin-left: 7%;
	width:20%;
	height:auto;
  }
  #nombre {
  margin: 0% 3% 5% 3%;
  font-size:1.8vw;
}
}
@media (max-width: 1200px) {
  #carrusel {
    min-height: 400px;
    height: 400px;
  }
  #img-logo {
  margin-left: 7%;
	width:30%;
	height:auto;
  }
  #nombre {
  margin: 0% 3% 5% 3%;
  font-size:2vw;
}
}

@media (max-width: 900px) {
  #carrusel {
    min-height: 290px;
    height: 290px;
  }
  #img-logo {
  	margin-left: 7%;
	width:30%;
	height:auto;
  }
  #nombre {
  margin: 0% 3% 5% 3%;
  font-size:2vw;
}
  #mobile-demo{
	  z-index: 1500;
  }
#sidenav-overlay{
  z-index: 500;
}
}

@media (max-width: 768px) {
  #carrusel {
    min-height: 295px;
    height: 295px;
  }
  #img-logo {
  	margin-left: 10%;
	width:45px;
	height:auto;
  }
  #mobile-demo{
	z-index: 1500;
  }
#sidenav-overlay{
  z-index: 500;
}
}

@media (max-width: 650px) {
  #carrusel {
    min-height: 270px;
    height: 270px;
  }
  #img-logo {
  	margin-left: 12%;
	width:40px;
	height:auto;
  }
  #nombre {
  margin: 0% 3% 5% 3%;
  font-size:2.5vw;
}
 #mobile-demo{
  z-index: 1500;
  }
#sidenav-overlay{
  z-index: 500;
}
}
@media (max-width: 620px) {
  #carrusel {
    min-height: 200px;
    height: 200px;
  }
  #img-logo {
  	margin-left: 12%;
	width:40px;
	height:auto;
  }
  #nombre {
  margin: 0% 3% 5% 3%;
  font-size:2.5vw;
}
  #mobile-demo{
    z-index: 1500;
  }
#sidenav-overlay{
  z-index: 500;
}
}

@media (max-width: 500px){
  #carrusel {
    min-height: 170px;
    height: 170px;
  }
  #img-logo {
    margin-left: 15%;
  width:35px;
  height:auto;
  }
  #nombre {
  margin: 0% 3% 5% 3%;
  font-size:2.5vw;
}
#mobile-demo{
z-index:1500;
  }
#sidenav-overlay{
  z-index: 500;
}
}
@media (max-width: 484px) {
  #carrusel {
    min-height: 165px;
    height: 165px;
  }
  #img-logo {
  	margin-left: 5%;
	width:35px;
	height:auto;
  }
  #nombre {
  margin: 0% 3% 5% 3%;
  font-size:3.5vw;
  }
#mobile-demo{
	z-index:1500;
  }
#sidenav-overlay{
  z-index: 500;
}
}

@media (max-width: 360px) {
  #carrusel {
    min-height: 155px;
    max-height: 155px;
  }
  #img-logo {
  	margin-left: 5%;
	width:30px;
	height:auto;
  }
  #nombre {
  margin: 0% 3% 5% 3%;
  font-size:4.5vw;
  }
  #mobile-demo{
	z-index:1500;
  }
#sidenav-overlay{
  z-index: 500;
}
}
@media (max-width: 300px) {
  #carrusel {
    min-height: 115px;
    max-height: 115px;
  }
  #img-logo {
  	margin-left: 20%;
	width:30px;
	height:auto;
  }
}
footer {
  padding: 10px 0;
}
.limpiar{
  display:block;
  clear: both;
  margin-bottom: 5%;
}
#mobile-demo{
  width:70%;
  z-index: 1500;
}
#sidenav-overlay{
  z-index: 500 !important;
}
